       <div>
            <label for="id_username">Username</label>
            <input id="id_username" type="text" name="id">
        </div>
        <div>
            <label for="id-password1">Password1</label>
            <input id="id-password1" type="password" name="password1">
        </div>
        <div>
            <label for="id-password2">Password2</label>
            <input id="id-password2" type="password" name="password2">
        </div>
        <div>
            <button type="submit" class="btn">가입하기</button>
        </div>